body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container {
  width: 1088px;
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  height: 697px;
  background-image: url(/images/Background-image.png);
  background-position: center;
  background-color: #001225f8;
  background-blend-mode: multiply;
  opacity: 85%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .page-logo {
  margin-top: 91px;
  margin-left: -11px;
  margin-bottom: 122px;
}
.hero #logo {
  margin-top: -50px;
  margin-left: 90px;
  text-align: left;
  font: normal normal normal 22px/70px 'Open Sans';
  letter-spacing: 0px;
  color: #f8f8f8;
  text-transform: lowercase;
  opacity: 0.8;
}

.hero h1 {
  text-align: left;
  font: normal normal bold 35px/60px 'Open Sans';
  letter-spacing: 0px;
  color: #1cc6a0;
  text-transform: uppercase;
  margin-top: -60px;
  width: 650px;
  padding: 5px;
  margin-bottom: 0;
}
.hero h1 #main-title1 {
  color: white;
  line-height: 60px;
  text-transform: lowercase;
}

.hero hr {
  height: 0px;
  border: 2px solid #1cc6a0;
  opacity: 1;
}
.hero h2 {
  position: relative;
  bottom: 5px;
  text-align: left;
  font: normal normal normal 30px/70px Open Sans;
  letter-spacing: 0px;
  color: #f8f8f8;
  width: 650px;
  padding: 5px;
  margin: 0;
}
.hero h2 #main-title2 {
  color: #1cc6a0;
  line-height: 60px;
  text-transform: lowercase;
}
.hero .badges {
  position: absolute;
  width: calc(163px + 60px + 90px);
  display: flex;
  justify-content: space-between;
  bottom: 70px;
  padding: 5px;
}

.mockup-ipad {
  position: absolute;
  top: -500px;
  right: 230px;
  width: 468px;
  height: 841px;
  background: transparent no-repeat padding-box;
  opacity: 1;


}
.description {
  position: relative;
  height: 335px;
  background-color: #ffffff;
  background-position:center;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  
}
.app-description {
  width: 1088px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding: 0;
  height: 335px;
  
}
.description h1 {
  text-align: left;
  font: normal normal 600 35px/70px 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #001125;
  text-transform: uppercase;
  opacity: 1;
  margin: 0;
}
.description hr {
  height: 0px;
  border: 1px solid #1cc6a0;
  opacity: 1;
}
.description p {
  width: 727px;
  height: 134px;
  text-align: left;
  font: normal normal 300 20px/30px 'Open Sans';
  letter-spacing: 0px;
  color: #001125;
  opacity: 1;
  padding: 5px;
}
